@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "tailwindcss";

@theme {
  /* fonte padrão (usada em font-sans) */
  --font-sans: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;

  /* fonte condensada para títulos etc. → gera a classe font-condensed */
  --font-condensed: "Roboto Condensed", system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}
