.comments {
  overflow-y: auto;
  word-break: break-word;
  padding: 0 2rem;
}

@media (max-width: 64rem) {
  .comments {
    overflow-y: visible;
  }
}

comments {
  padding: 0;
}

.comments li {
  margin-bottom: 0.5rem;
  line-height: 1.2;
}