body {
  font-size: 1.25rem;
  margin: 0px;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-top: 0px;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.8);
}

p {
  margin: 0.5rem 0;
}

section {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

@media (max-width: 800px) {
  section {
    grid-template-columns: 1fr;
  }
}

.produto {
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  overflow: hidden;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  gap: 1rem;
}

img {
  max-width: 100%;
  display: block;
}