.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1; /* 1 ou inicial é a mesma coisa */
    transform: initial;
  }
}

.animeZoom {
  opacity: 0;
  transform: scale(0.8);
  animation: animeZoom 0.3s forwards;
}

@keyframes animeZoom {
  to {
    opacity: initial; /* 1 ou inicial é a mesma coisa */
    transform: initial;
  }
}

.animeTop {
  opacity: 0;
  transform: translateY(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animation {
  to {
    opacity: initial;
    transform: initial;
  }
}
